<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>

<header> 


    <img src="/images/logo-mercado-liebre.svg" /> <br><br> lugar para poner barra de busqueda </header>
<body>
    
<h1>Comprá en cuotas y sin tarjeta de crédito</h1>

    
    <section>
            <ul type="circle"> 
                
<li>Ofertas</li> 

<li>Tiendas Oficiales</li>

<li>Vender</li>

<li>Ayuda</li>

<li>Creá tu cuenta</li>

<li>Ingresá</li>

<li>Mis compras</li>

        </ul> 
    </section>

    <main> 
        <section> 
            <h2>Basado en su última visita:</h2>  
    
        <img src="/images/img-cafetera-moulinex.jpg" > <h4>$6.770 <br> 40% OFF <br>Cafetera Moulinex</h4>

        <img src="/images/img-macbook-pro-2019.jpg" > <h4>$230.000<br> 20% OFF <br>MacBook Pro 2019</h4>

        <img src="/images/img-samsung-galaxy-s10.jpg" > <h4>$70.500<br> 10% OFF <br>Samsung Galaxy S10</h4>

        <img src="/images/img-tv-samsung-smart.jpg" > <h4>$23.200<br> 5% OFF <br>SmartTv Samsung 43"</h4>


             </section>

<section>
    <h2>Sección de ofertas</h2>
    <img src="/images/img-cafetera-moulinex.jpg" > <h4>$6.770 <br> 40% OFF <br>Cafetera Moulinex</h4>

    <img src="/images/img-macbook-pro-2019.jpg" > <h4>$230.000<br> 20% OFF <br>MacBook Pro 2019</h4>

    <img src="/images/img-samsung-galaxy-s10.jpg" > <h4>$70.500<br> 10% OFF <br>Samsung Galaxy S10</h4>

    <img src="/images/img-tv-samsung-smart.jpg" > <h4>$23.200<br> 5% OFF <br>SmartTv Samsung 43"</h4>


</section>


    </main>



</body>

<footer>

    <section>
        <h2>Pagá con tarjeta o en efectivo</h2>
    </section>
    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
<section>
<h2>Envío gratís desde $2.500</h2>
Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.
</section>

<section>
<h2>Seguridad de principio a fin</h2>
¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.
</section>

<section>
    <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
</section>

</footer>
</html>