.ulTag1{
    text-decoration: none;
}

header{
    background-color:  #EAC926;
}

header .logo{

    width: 50%;
}

ul {
    list-style-type:none;
}

.headerIzquierda{
display: flex;
justify-content: space-between;
}

.ulTag1, .ulTag2{ 
   display:block ;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: white;
font-size: 12px;  
}

h1, h2{
font-size: 24px;
text-align: center;
}

.pricing {
    font-size: 16px;
}

i {
    font-size: 2em;
    margin-bottom: 10px
}


main { width: 90%;
    margin: auto;
}

.productos{
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    }
    

.productos article {
margin: 0px 10px 20px 10px;
}

.productoInfo{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
    position:relative;

  }


  main section article .productoInfo i {
      
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    position: absolute;

  }

       
  .productoInfo i .pricing{
    margin: 30%;
    padding: 70%;
    box-sizing: border-box;
   }




footer{

    text-align: center;
}



@media (min-width: 361px) {
/* este es para tablets*/
.productos{ box-shadow: 0px 0px 10px rgb(100, 100, 100)
}
.burger-menu {
    display:none;
}


}
@media (min-width: 769px) {
    /* este es para desktop*/
.productos{ box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.burger-menu {
    display:none;
}


}



    @media (max-width: 360px) {
        /* este es para mobile*/
        .pricing{
            display:none;
        }
        .ulTag1, .ulTag2{
            display: none;
          }

        }

        